<%= form_with(model: college) do |form| %>
  <% if college.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(college.errors.count, "error") %> prohibited this college from being saved:</h2>

      <ul>
        <% college.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :c_name %>
    <%= form.text_field :c_name %>
  </div>

  <div class="field">
    <%= form.label :c_phone %>
    <%= form.text_field :c_phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
